:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
    --fonte-principal: 'Inter';
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

/* seção 1 */

.principal {
    background-image: url(img/Background.png);
    background-repeat: no-repeat;
    background-size: contain;    
    align-items: center;
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
}

.container__caixa {
    margin: 0 6em;
}

.container__titulo {
    font-size: 28px;
    font-weight: 700;
}

.container__imagem {
    margin: 1em 0 2em 0;
}

.container__botao {
    display: block;
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-principal);
    margin-bottom: 1em;
}

.botao__secundario {
    background-color: transparent;
    border: 2px solid var(--branco-principal);
}

.container__aviso {
    font-size: 12px;
    color: var(--cinza-secundario);
}

/* seção 2 */

.secundario {
    align-items: center;
    margin: 0 10em;
}

.secundario__imagem {
    width: 80%;
}

.descricao__titulo {
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 0.1em;
}

.descricao__texto {
    color: var(--cinza-secundario);
}

/* secao 3 */

.secundario__botao {
    display: inline-block;
    margin-top: 1em;
}

.container__descricao {
    padding: 2em;
}

/* seção Dispositivos */

.dispositivos__titulo {
    text-align: center;
    margin-bottom: 2em;
    font-size: 48px;
}

.dispositivos__lista {
    display: flex;
    justify-content: center;
}

li {
    text-align: center;
    list-style: none;
}

.lista__item {
    font-size: 32px;
}

/* seção Rodape */

.rodape {
    margin-top: 7em;
    text-align: center;
}

.rodape__logo {
    margin-bottom: 2em;
}

.rodape__lista {
    margin-bottom: 20px;
}

.lista__link {
    display: inline;
}

.lista__link a{
    color: var(--branco-principal);
    padding: 5px;
}

.rodape__texto {
    color: var(--cinza-secundario);
    margin-top: 10px;
    width: 80%;
    margin: 0 auto;
}